<div class="container">
  <div class="d-flex flex-column align-items-center m-5">
    <div class="h1 text-center">Password Generator</div>
    <hr>
    <div class="w-auto">
      <input class="form-control my-3" type="number" placeholder="password length" (input)="getLength($event)">
      <div class="form-check my-2">
       <input type="checkbox" class="form-check-input" id="letters" (change)="onChangeUseLetters($event)">
       <label class="form-check-label" for="exampleCheck1">Use letters</label>
     </div>
     <div class="form-check my-2">
      <input type="checkbox" class="form-check-input" id="numbers" (change)="onChangeUseNumbers()">
      <label class="form-check-label" for="exampleCheck1">Use numbers</label>
    </div>
    <div class="form-check my-2">
      <input type="checkbox" class="form-check-input" id="symbols" (change)="onChangeUseSymbols()">
      <label class="form-check-label" for="exampleCheck1">Use symbols</label>
    </div>
    </div>
    <button 
      class="btn btn-primary btn-block m-3 w-auto" 
      (click)="onGenerateClick()" 
      [disabled]="!(passLength && (useLetters || useNumbers || useSymbols))"
    >
      Generate</button>
      <div *ngIf="generatedPass">
        <p class="">Your password is:</p>
        <p class="border p-2">{{generatedPass}}</p>
      </div>
   
  </div>
</div>      